$light-base-color: #F6F6F6;
$blue-base-color: #224D9B;
$lightblue-color: #629AC9;
$lighterblue-color: #88b2d6;
$white: #fff;
$black: #000;
$black: #000;
$grey: #c0c0be;
$middle-grey: #8a887d;
$dark-grey: #2e2d29;
$light-grey: #ccc;

$base-font-color: #666;
$darker-font-color: #2c2c2c;

$error-bg: #e69494;
$ok-bg: #c6fcc7;
$warning-bg: #f2f095;
$green-ok: #178913;

