
// Site-wide Variables
$min-page-width: 320px;
$max-page-width: 1180px;

// fonts
$base-font-family: 'Open Sans', sans-serif;
$base-font-size: 14px;
$base-font-weight: 400;
$light-font-weight: 300;
$semibold-font-weight: 600;
$bold-font-weight: $semibold-font-weight;

// breakpoints widths
$narrow-width: 560px;
$wide-width: 850px;
