.breadcrumbs {
  background: linear-gradient(to right, #005294, #5e7dbf);
  color: rgba($white, .7);

  ol {
    @include menu-inline();
    justify-content: flex-start;
    padding: 10px 0;
  }

  a {
    color: rgba($white, .7);

    &:hover {
      color: rgba($white, 1);
      text-decoration: none;
    }
  }
}
