<div class="l-page">
  <header class="l-header">
    <div class="l-contained">
      {{ page.header }}
    </div>
  </header>
  <div class="l-main-content l-container">
    {% if page.highlighted %}
      <div class="l-contained">
        {{ page.highlighted }}
      </div>
    {% endif %}
    <div class="l-contained">
      {{ page.content }}
    </div>
  </div>
  <footer class="l-footer">
    <div class="l-contained">
      {{ page.footer }}
    </div>
  </footer>
</div>
